.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%),
                    radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
  padding-top: 50px;
  padding-bottom: 50px;
}

#radius-shape-1, #radius-shape-2 {
  background: linear-gradient(45deg, #44006b, #ad1fff);
  opacity: 0.5;
}

#radius-shape-1 {
  height: 250px;
  width: 250px;
  top: -50px;
  left: -120px;
}

#radius-shape-2 {
  height: 320px;
  width: 320px;
  bottom: -80px;
  right: -120px;
}

.card.bg-glass {
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}

.btn-primary {
  background-color: #5e60ce;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #3a0ca3;
}

.form-outline .form-control {
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid #ced4da;
}

.form-outline .form-label {
  color: #3a0ca3;
}
