<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5 justify-content-center">
      <div class="col-lg-5 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass shadow-lg border-0">
          <div class="text-center mt-4">
            <h2 class="fw-bold text-primary">Iniciar Sesión</h2>
          </div>
          <div class="card-body px-5 py-4">
            <!-- Formulario de inicio de sesión -->
            <form #formulario="ngForm" (ngSubmit)="enviarFormulario(formulario)">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" name="email"
                  [(ngModel)]="objAcceso.nombreAcceso" required />
                <label class="form-label" for="form3Example3">Correo Electrónico</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" name="claveAcceso"
                  [(ngModel)]="objAcceso.claveAcceso" required />
                <label class="form-label" for="form3Example4">Contraseña</label>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">Suscribirse a nuestro boletín</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-3 fw-bold">Iniciar sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
